@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IndieFlower";
  src: url("/fonts/IndieFlower-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "PermanentMarker";
  src: url("/fonts/PermanentMarker-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  background-color: rgba(240, 128, 128, 0.596);
}

#__next {
  height: inherit !important;
}

/* Spinner for Virus :D */
.loader {
  display: inline-block;
  animation: spin 0.75s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
